
.container {
  display: flex;
  align-items: center;
  width: 5vw;
}

.search {
  background-color: white;
  border: 0;
  width: 15px;
  margin: 11px;
  z-index: 10;
}

.search:hover {
  cursor: pointer;
}

.input {
  position: fixed;
  right: 5px;
  padding: 7px;
  margin: 0;
  border: 0;
  width: 10vw;
  box-shadow: 15px 1px rgb(233,113,153);
}

@media (max-width: 700px) {
  .container {
    display: none;
  }
}